.body_withoutSidebar {
    margin-left: 0%;
}

.body_withSidebar {
    margin-left: 50%;
}

.sidebar_Open {
    width: 50%;
    display: block
}

.sidebar_Closed {
    display: none;
}

.nav_On {
    display: inline;
}

.nav_Off {
    display: none;
}