.body_withoutSidebar {
    margin-left: 0%;
}

.body_withSidebar {
    margin-left: auto;
}

.sidebar_Open {
    width: auto;
    display: block
}

.sidebar_Closed {
    display: none;
}

.nav_On {
    display: inline;
}

.nav_Off {
    display: none;
}

#map {
   position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#header {
    position: absolute;    
    top: 0px;
    left: 0px;
    right: 0px;    
    height: 65px;
}

.info_Image {
    height: auto;
    width: 100px;
}