.body_withoutSidebar {
    margin-left: 0%;
}

.body_withSidebar {
    margin-left: 30%;
}

.sidebar_Open {
    width: 30%;
    display: block
}

.sidebar_Closed {
    display: none;
}

.nav_On {
    display: inline;
}

.nav_Off {
    display: none;
}

#map {
    height: 600px;
    width: 100%;
}

.info_Image {
    height: auto;
    width: 100px;
}