<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" 
        href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" 
        href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" 
        type="image/x-icon">
</head>

<body>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" 
        data-bind="css: sideBarStatus">
    <button class="w3-bar-item w3-button w3-large" 
        data-bind="click: closeItems">Close <i class="fa fa-window-close"></i></button>
    
    <form class="w3-bar-item w3-border w3-large" data-bind="submit: filterMap">
      <input type="text" placeholder="Filter places...." data-bind="textInput: itemsFilter">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    
    <!-- Build Filtered Map "items list" in sidebar -->
    <div data-bind="foreach: filteredMapItems">
        <button class="w3-bar-item w3-button w3-large" data-bind="text: title, click: $parent.highlightItem"></button>
    </div>
</div>

<div data-bind="css: mainStatus">
    <div class="w3-theme-dark w3-bar">
        <div data-bind="css: navStatus">
            <button class="w3-bar-item w3-button w3-xlarge" 
                data-bind="click: openItems">
                    <i class="fa fa-bars"></i>
            </button>            
        </div>
        <div class="w3-bar-item">
            <h1 class=w3-xlarge>My Neighborhood Map</h1>
        </div>
    </div>
    <div id="map" class="w3-padding">
    </div>
</div>
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
<script src="{{ url_for('static', filename='js/items.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdflabYfaByitdtISUIwtqCMR_q3j9he4&callback=initMap"></script>

</html>
